.container_description{
  .Container_section_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    padding-top: 10px;
    .title_profil{
      width: 95%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .title_localisation{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .display_block{
        display: block;
        @media (max-width: 745px){
          display: none;
        }
        .profil{
          display: flex;
          align-items: center;
          .hostname{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 80px;
            font-size: 18px;
          }
          img{
            border-radius: 60px;
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }
  .container_tags_ratings{
    display: flex;
    justify-content: center;
    .tags_rating{
      display: flex;
      justify-content: space-between;
      width: 95%;
      @media (max-width: 745px){
        flex-direction: column;

      }
      .tags{
        display: flex;
        flex-wrap: wrap;
        a{
          background-color: #ff6060;
          border-radius: 10px;
          padding: 10px;
          color: white;
          margin-right: 10px;
          text-decoration: none;
          margin-bottom: 20px;
        }
      }
      .stars_host{
        @media (max-width: 745px){
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding-top: 10px;
        }
        .stars_pictures{
          @media (max-width: 745px){
            padding-top: 30px;
          }
          img{
            @media (max-width: 465px){
              width: 30px;
              height: 30px;
            }
          }
        }
        .display_block{
          display:none;
          @media (max-width: 745px){
            display:block;
          }
          .profil{
            display:flex;
            align-items: flex-end;
            justify-content: center;
            .hostname{
              width: 100px;
              @media (max-width: 465px){
                width: 55px;
                padding-right: 70px;
              }
              h2{
                font-size: 20px;
                @media (max-width: 465px){
                  font-size: 15px;
                }
              }
            }
            img{
              border-radius: 60px;
              width: 70px;
              height: 70px;
              @media (max-width: 465px){
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
}

.container_description_none{
  display: none;
}
.container_error_none{
  display: none;
}